<h2>Bienvenu dans le forum ! posez vos questions ici...</h2>

<mat-card class="mat-elevation-z4 w-100">
  <mat-card-content>
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-shrink-1 bd-highlight">
        <mat-icon>face</mat-icon>
      </div>
      <div class="p-2 w-100 bd-highlight">
        <span class="chat-title"><b>Jhon DOE</b></span>
        <p>Bonjour tous le monde !</p>
      </div>
    </div>

    <div class="d-flex bd-highlight">
      <div class="p-2 flex-shrink-1 bd-highlight">
        <mat-icon>face</mat-icon>
      </div>
      <div class="p-2 w-100 bd-highlight">
        <span class="chat-title"><b>Jhon DOE</b></span>
        <p>Bonjour tous le monde !</p>
      </div>
    </div>


    <div class="d-flex bd-highlight">
      <div class="p-2 flex-shrink-1 bd-highlight">
        <mat-icon>face</mat-icon>
      </div>
      <div class="p-2 w-100 bd-highlight">
        <span class="chat-title"><b>Jhon DOE</b></span>
        <p>Bonjour tous le monde !</p>
      </div>
    </div>

    <div class="d-flex bd-highlight">
      <div class="p-2 flex-shrink-1 bd-highlight">
        <mat-icon>face</mat-icon>
      </div>
      <div class="p-2 w-100 bd-highlight">
        <span class="chat-title"><b>Jhon DOE</b></span>
        <p>Bonjour tous le monde !</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="input-group">
      <input id="btn-input" type="text" class="form-control input-sm" placeholder="écrivez un message..."/>
      <button class="btn btn-primary btn-sm" >Envoyer</button>
    </div>
  </mat-card-actions>
</mat-card>

