<h1 mat-dialog-title>{{data ? 'Modifier un cours' : 'Ajouter un cours'}}</h1>
<div mat-dialog-content>

  <form [formGroup]="createForm">

    <mat-form-field class="w-100">
      <mat-label>Nom du cours:</mat-label>
      <input matInput  formControlName="name">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Matiére:</mat-label>
      <mat-select formControlName="schoolSubject">
        <mat-option *ngFor="let schoolSubject of ($schoolSubjects | async)" [value]="{name: schoolSubject.name}">
          {{schoolSubject.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="w-100">
      <mat-label>Domaine:</mat-label>
      <mat-select formControlName="domain">
        <mat-option *ngFor="let domain of ($domains | async)" [value]="{name: domain.name}">
          {{domain.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Description:</mat-label>
      <input matInput  formControlName="description">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Lien des documents</mat-label>
      <input matInput  formControlName="documentsLinks">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Lien du video</mat-label>
      <input matInput  formControlName="videoLink">
    </mat-form-field>

    <mat-form-field >
      <mat-label>Enseignant</mat-label>
      <mat-select formControlName="owners">
        <mat-option *ngFor="let enseignant of ($enseignants | async)" [value]="[{id: enseignant.id}]">
          {{enseignant.firstName}} {{enseignant.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [disabled]="!createForm.valid" [matDialogClose]="createForm.value">Enregistrer
  </button>
  <button mat-button color="warn" matDialogClose>Annuler</button>

</div>
