<mat-card *ngIf="lesson">
  <mat-card-header>
    <mat-card-title><b>{{lesson.name}}</b></mat-card-title>
    <mat-card-subtitle><mat-icon>school</mat-icon> {{lesson.owners[0].firstName}} {{lesson.owners[0].lastName}}<mat-icon>date_range</mat-icon> {{lesson.date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{lesson.description}}
    </p>
    <iframe width="420" height="315"
            src="https://www.youtube.com/watch?v=mfOqvDwL1Mw">
    </iframe>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/#"><button mat-button><mat-icon>movie</mat-icon>Accéder au video sur YouTube </button></a>
    <a routerLink="/#"><button mat-button><mat-icon>book</mat-icon>Accéder au cours sur le site d'AMU</button></a>
  </mat-card-actions>
</mat-card>

<button mat-fab color="primary" style="position: fixed; bottom: 20px; right: 20px" >
  <mat-icon>question_answer</mat-icon>
</button>
