
<mat-card class="w-25">
  <mat-card-header>
    <mat-card-title><b>La programmation orienté objet</b></mat-card-title>
    <mat-card-subtitle><mat-icon>school</mat-icon> M. Albert DUPONT <mat-icon>date_range</mat-icon> 2020/2021</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum ....
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>visibility</mat-icon>Suivre</button>
  </mat-card-actions>
</mat-card>

<mat-card class="w-25">
  <mat-card-header>
    <mat-card-title><b>La programmation orienté objet</b></mat-card-title>
    <mat-card-subtitle><mat-icon>school</mat-icon> M. Albert DUPONT <mat-icon>date_range</mat-icon> 2020/2021</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum ....
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>visibility</mat-icon>Suivre</button>
  </mat-card-actions>
</mat-card>

<mat-card class="w-25">
  <mat-card-header>
    <mat-card-title><b>La programmation orienté objet</b></mat-card-title>
    <mat-card-subtitle><mat-icon>school</mat-icon> M. Albert DUPONT <mat-icon>date_range</mat-icon> 2020/2021</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum ....
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>visibility</mat-icon>Suivre</button>
  </mat-card-actions>
</mat-card>
